# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual Environment
venv/
env/

# Environment Variables
.env

# Django
*.log
db.sqlite3
media/

# VS Code
.vscode/


apps/*/migrations/*.py
!apps/*/migrations/__init__.py